server:
  port: 1000

messaging:
  broker: activemq   # rabbitmq | ibmmq
  queue: test.queue

spring:
  application:
    name: messaging-service
  activemq:
    broker-url: tcp://activemq:61616
    user: admin
    password: admin
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest




